.box1 {
    background-color: violet;
    width: 300px;
}
.box2 {
    background-color: violet;
    border: solid red 3px;
    margin: 50px;
    padding: 10px;
    width: 300px;
}
.box3 {
    background-color: violet;
    border-left: outset rgb(92, 0, 239) 10px;
    border-top: solid rgb(92, 0, 239) 2px;
    border-right: dashed palevioletred 5px;
    border-bottom: outset yellow 7px;
    padding: 0px 200px 50px 100px;
    margin-left: 100px;
    width: 350px;
}